﻿@model Stock
@{
    var cateList = await CategoryServices.CateList();
    var uomList = await UoMServices.UoMList();
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<link href="~/lib/sweetalert/css/sweetalert.css" rel="stylesheet" />*@
<style>
    .error {
        color: red;
        font-style: italic;
    }
</style>

<div class="">
    <span class="pull-right">
        <span class="pull-right"><a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#myModal"> Create New Stock</a></span>
    </span>
    <table id="example" class="display table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>No</th>
                <th>StockNameEN</th>
                <th>StockNameKH</th>
                <th>Qty</th>
                <th>UoM</th>
                <th>Category</th>
                <th>Update By</th>
                <th>Update At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.StocksList != null)
            {
                int i = 1;
                @foreach (var item in ViewBag.StocksList as List<Stock>)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.StockNameEN</td>
                        <td>@item.StockNameKH</td>
                        <td>@item.StockQty</td>
                        <td>@item.UnitOfMeasure.NameKH</td>
                        <td>@item.Category.CateNameKH</td>
                        <td>@item.updateBy</td>
                        <td>@item.updateAt</td>
                        <td>

                            <a href="#" onclick="click_update(@item.StockId)" class="btn-info btn-xs" data-toggle="modal" data-target="#myModalUpdateStock"><i class="fa fa-edit"></i> Edit</a> |
                            <a href="#" onclick="click_delete(@item.StockId)" class="btn-danger btn-xs"><i class="fa fa-trash"></i> Remove </a>
                        </td>
                    </tr>
                    i++;
                }

            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="CreateStock" asp-controller="Stocks" method="post" id="frmModalCreate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Stock</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="StockNameEN" class="control-label">Stock Name EN</label>
                                    <input asp-for="StockNameEN" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="StockNameKH" class="control-label">Stock Name KH</label>
                                    <input asp-for="StockNameKH" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="StockQty" class="control-label"> Stock Qty </label>
                                    <input type="number" asp-for="StockQty" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="UnitOfMeasureId" class="control-label"> Unit Of Measure </label>
                                    <select class="form-control" asp-for="UnitOfMeasureId">
                                        @foreach (var item in uomList)
                                        {
                                            <option value="@item.UnitOfMeasureID">@item.NameKH</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="CategoryCateID" class="control-label"> Category </label>
                                    <select class="form-control" asp-for="CategoryCateID">
                                        @if (cateList != null)
                                        {
                                            @foreach (var item in cateList)
                                            {
                                                <option value="@item.CateID">@item.CateNameKH</option>
                                            }
                                        }
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="myModalUpdateStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpdateStock" asp-controller="Stocks" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Stock</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <input type="hidden" asp-for="StockId" class="stockid">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label asp-for="StockNameEN" class="control-label">Stock Name EN </label>
                                    <input asp-for="StockNameEN" class="form-control stocknameen" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="StockNameKH" class="control-label">Stock Name KH </label>
                                    <input asp-for="StockNameKH" class="form-control stocknamekh" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="StockQty" class="control-label"> Stock Qty </label>
                                    <input type="number" asp-for="StockQty" class="form-control stockqty" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="UnitOfMeasureId" class="control-label"> Unit Of Measure </label>
                                    <select class="form-control stockuom" asp-for="UnitOfMeasureId">
                                        @foreach (var item in uomList)
                                        {
                                            <option value="@item.UnitOfMeasureID">@item.NameKH</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryCateID" class="control-label"> Category </label>
                                    <select class="form-control stockcate" asp-for="CategoryCateID">
                                        @if (cateList != null)
                                        {
                                            @foreach (var item in cateList)
                                            {
                                                <option value="@item.CateID">@item.CateNameKH</option>
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save Change</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>

@*<script src="~/datatable/js/"></script>*@
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
        //    ,
        //    dom: 'B<"clear">lfrtip',
        //    buttons: [
        //    {
        //        extend: 'csv',
        //        title: 'Data export',
        //        exportOptions: {
        //            columns: [ 0 ]
        //        },
        //         className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-csv ttip'

        //    },
        //    {
        //        extend: 'pdfHtml5',
        //        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-pdf ttip',
        //        title: 'Data export'
        //    }
        //]
          });
        });
    @* }); *@

</script>
<script>
    function click_update(val) {
        $.ajax({
            url: "/Stocks/FindById",
            datatype: "json",
            type: "get",
            data: { id: val },
            success: function (response) {
                //    alert(JSON.stringify(response));
                $('.stockid').val(response.stockId);
                $('.stocknameen').val(response.stockNameEN);
                $('.stocknamekh').val(response.stockNameKH);
                // $('.stockqty').val(response.stockQty);
                $('.stockuom').val(response.unitOfMeasureId);
                $('.stockcate').val(response.categoryCateID);
            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
    }


    function click_delete(val) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this stocks!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/Stocks/DeleteStock",
                    datatype: "json",
                    type: "post",
                    data: { id: val },
                    success: function (response) {
                        //   alert(JSON.stringify(response));

                        if (response.data) {
                            // swal("Good job!", "User has been deleted !", "success");
                            swal({
                                icon: 'success',
                                title: 'Good job!',
                                text: 'Stocks has been deleted !',
                                timer: 1500
                            })
                            setTimeout(function () { window.location.href = "/Stocks/StocksList"; }, 2000);

                        }
                        else {
                            swal("Oops!", "Something went wrong !", "error");
                        }


                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });

            } else {
                swal("Your stock is safe!");
            }
        });

    }
</script>

<!--Validate script jquery-->
<script>
    var $registrationForm = $('#frmModalCreate');
    if ($registrationForm.length) {
        $registrationForm.validate({
            rules: {
                StockNameEN: {
                    required: true
                },
                StockNameKH: {
                    required: true
                },
            },
            messages: {
                StockNameEN: {
                    required: 'Please enter Stock Name EN!'
                },
                StockNameKH: {
                    required: 'Please enter Stock Name KH!'
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.gender'));
                }
                else if (element.is(":checkbox")) {
                    error.appendTo(element.parents('.hobbies'));
                }
                else {
                    error.insertAfter(element);
                }

            }
        });
    }
</script>