﻿@model TAInvoices

<div class="modal-body row">
    <form asp-controller="TAInvoices" asp-action="InvoicesList" method="get">
        <div class="col-12 col-md-6 margin_button">
            <label>from</label>
            <input type="date" class="form-control" id="from" name="from" value="@ViewBag.from" />
            <br />

        </div>
        <div class="col-12 col-md-6">
            <label>to</label>
            <input type="date" class="form-control" id="to" name="to" value="@ViewBag.to" />
            <br />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-light">Find</button>
        </div>
    </form>
</div>


<div class="">
    <table id="example" class="display table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>Inv Code</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Dis(%)</th>
                @*<th>Sale Tax</th>*@
                <th>Inv Total($)</th>
                <th>CreateBy</th>
                <th>CreateAt</th>
                @*<th>Received Amount</th>*@
                <th>UpdateBy</th>
                <th>UpdateAt</th>
                @*<th>Received Amount</th>*@
                <th>Status</th>
                <th style='text-align:center'>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.InvoiceList != null)
            {
                @foreach (var inv in ViewBag.InvoiceList as List<TAInvoices>)
                {
                    <tr>
                        <td>@inv.InvoicesId</td>
                        <td>@inv.CustomerName</td>
                        <td>@inv.PhoneNumber</td>
                        <td>@inv.Discount</td>
                        @*<td>@inv.Tax %</td>*@
                        <td>@inv.TotalPaidUSD</td>
                        <td>@inv.createBy</td>
                        <td>@inv.createAt</td>
                        <td>@inv.updateBy</td>
                        <td>@inv.updateAt</td>
                        @* <td>@inv.RecievedAmountUSD</td>*@

                        @{
                            if (inv.Status == "Paid")
                            {
                                <td><span class="label label-success">Paid</span></td>
                                <td>
                                    <a href="#" class="btn btn-success btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-credit-card"></i>@*Bill*@</a> |
                                    @*<a href="@Url.Action("InvoicePrint", "Invoices",new {InvoicesId=inv.InvoicesId,Print=true })" target="_blank" class="btn btn-link btn-xs"><i class="fa fa-print"></i> Print</a> |*@
                                    <a href="@Url.Action("InvoicePrint", "TAInvoices",new {InvoicesId=inv.InvoicesId })" target="_blank" class="btn btn-link btn-xs"><i class="fa fa-print"></i> @*Print*@</a> |
                                    <a href="#" class="btn btn-warning btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-edit"></i></a> |
                                    <a href="#" class="btn btn-info btn-xs" onclick="click_invDetail('@inv.InvoicesId')" data-toggle="modal" data-target="#myModalInvioce">
                                        <i class="fa fa-search"></i> @*Details*@
                                    </a>|
                                    <a href="#" class="btn btn-danger btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-trash"></i>@*Void*@</a>
                                </td>
                            }
                            else if (inv.Status == "Void")
                            {
                                <td><span class="label label-danger">Void</span></td>
                                <td>
                                    <a href="#" class="btn btn-success btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-credit-card"></i>@*Bill*@</a> |
                                    <a href="@Url.Action("InvoicePrint", "TAInvoices",new {InvoicesId=inv.InvoicesId})" target="_blank" class="btn btn-link btn-xs"><i class="fa fa-print"></i> @*Print*@</a> |
                                    <a href="#" class="btn btn-warning btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-edit"></i></a> |
                                    <a href="#" class="btn btn-info btn-xs" onclick="click_invDetail('@inv.InvoicesId')" data-toggle="modal" data-target="#myModalInvioce">
                                        <i class="fa fa-search"></i> @*Details*@
                                    </a>|
                                    <a href="#" class="btn btn-danger btn-xs disabled" role="button" aria-disabled="true"><i class="fa fa-trash"></i>@*Void*@</a>
                                </td>
                            }
                            else
                            {

                                <td><span class="label label-warning">Pending</span></td>
                                <td>
                                    @*<a href="#" class="btn-success btn-xs"><i class="fa fa-credit-card"></i> Bill</a> |*@
                                    <a href="#" data-toggle="modal" data-target="#billModal" class="btn btn-success btn-xs" data-amount-USD="@inv.TotalPaidUSD" data-inv-id="@inv.InvoicesId" data-inv-code="@inv.InvoicesId" data-amount-KHR="@inv.TotalPaidKHR" id="mBill"><i class="fa fa-credit-card"></i> @*Bill*@</a> |
                                    <a href="@Url.Action("InvoicePrint", "TAInvoices",new {InvoicesId=inv.InvoicesId})" target="_blank" class="btn btn-link btn-xs"><i class="fa fa-print"></i> @*Print*@</a> |
                                    @*<a href="#" class="btn-warning btn-xs"><i class="fa fa-edit"></i> Edit</a> |*@
                                    <a asp-controller="TAInvoices" asp-action="UpdateInvoice" asp-route-taid="@inv.TakeAwayId" asp-route-name="@inv.TakeAway.Name" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i> @*Edit*@</a> |
                                    <a href="#" class="btn btn-info btn-xs" onclick="click_invDetail('@inv.InvoicesId')" data-toggle="modal" data-target="#myModalInvioce">
                                        <i class="fa fa-search"></i> @*Details*@
                                    </a>|
                                    <a href="#" class="btn btn-danger btn-xs" onclick="click_void('@inv.InvoicesId')"><i class="fa fa-trash"></i> @*Void*@ </a>
                                </td>
                            }

                        }

                    </tr>
                }
            }

        </tbody>
        @*<tfoot>
                <tr>
                    <th colspan="2" style="text-align:right">Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>*@
    </table>
</div>

<!--<div class="">
    <table id="example" class="display table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>Inv Code</th>
                <th>Table No</th>
                <th>Dis(%)</th>-->
@*<th>Sale Tax</th>*@
<!--<th>Inv Total($)</th>
                <th>Create At</th>
                <th>Create By</th>
                <th>Update At</th>
                <th>Update By</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblinvlist">

            f

        </tbody>
    </table>
</div>-->


<div class="modal fade" id="myModalInvioce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title" id="myModalLabel">Invoice Details</h4>

            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Price ($)</th>
                                <th>Dis (%)</th>
                                <th>Total ($)</th>
                                <th>Total (៛)</th>
                            </tr>
                        </thead>
                        <tbody id="tbodym">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*
    My Logic
*@

<!-- Modal Bill -->
<div class="modal fade" id="billModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="InvoicePrint" asp-controller="TAInvoices" method="post" target="_blank" onsubmit="javascript:setTimeout(function(){window.location.reload();}, 500);return true;">
                <div class="modal-header">
                    <h5 class="modal-title">Invoice Bill </h5>
                    <h5 align="left" class="pull-right text-success">
                        <span>
                            RATE : 1$ =
                        </span>
                        <span id="exchange_rate">
                        </span>
                        <span>
                            ៛
                        </span>
                    </h5>
                </div>
                <div class="modal-body">

                    <div class="panel-body">
                        <input type="hidden" asp-for="InvoicesId" />
                        <div class="form-group">

                            <label asp-for="RecievedAmountUSD" class="control-label">Recieved Amount (USD)</label>
                            <input asp-for="RecievedAmountUSD" class="form-control" autocomplete="off" />

                        </div>
                        <div class="form-group">

                            <label asp-for="RecievedAmountKHR" class="control-label">Recieved Amount (KHR)</label>
                            <input asp-for="RecievedAmountKHR" class="form-control" autocomplete="off" />

                        </div>
                        @*<div class="form-group">
                                <label asp-for="" class="control-label">Total (KHR)</label>
                                <input asp-for="" class="form-control" />

                            </div>*@
                        <div class="form-group">

                            <label asp-for="TotalPaidUSD" class="control-label" value="">Total (USD)</label>
                            <input disabled asp-for="TotalPaidUSD" class="form-control" />

                        </div>

                        <div class="form-group">

                            <label asp-for="TotalPaidKHR" class="control-label">Total (KHR)</label>
                            <input disabled asp-for="TotalPaidKHR" class="form-control" />

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button disabled type="submit" class="btn btn-primary save" id="mBillSave">Bill Pay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true,
            "order": [[5, "desc"]],
            //"footerCallback": function (row, data, start, end, display) {
            //    var api = this.api(), data;
            //    //console.log(api);
            //    // Remove the formatting to get integer data for summation
            //    var intVal = function (i) {
            //        return typeof i === 'string' ?
            //            i.replace(/[\$,]/g, '') * 1 :
            //            typeof i === 'number' ?
            //                i : 0;
            //    };
            //    //console.log(intVal);
            //    status = api
            //        .column(8)
            //        .data()
            //        .reduce(function (a, b) {
            //            return b;
            //        }, 0);
            //    console.log(status);
            //    if (status.includes("warning"))
            //        console.log("peno");


            //    // Total over all pages
            //    total = api
            //        .column(3)
            //        .data()
            //        .reduce(function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0);

            //   // console.log(total);

            //    // Total over this page
            //    pageTotal = api
            //        .column(3, { page: 'current' })
            //        .data()
            //        .reduce(function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0);

            //    //console.log(pageTotal);
            //    // Update footer
            //    //$(api.column(3).footer()).html(
            //    //    '$' + pageTotal + ' ( $' + total + 'total)'
            //    //);
            //    $(api.column(3).footer()).html(
            //        '$' + pageTotal
            //    );
            //},
            dom: 'B<"clear">lfrtip',
            buttons: [
                {
                    extend: 'excel',
                    footer: true,
                    title: 'InvoicesList excel'+@DateTime.Now.ToString("yyyyMMdd"),
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                    className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-csv ttip'

                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-pdf ttip',
                    title: 'InvoicesList export',
                    exportOptions: {
                        columns: [0 ,1 ,2 ,3 ,4 ,5 ,6 ,7, 8]
                    }
                }
            ]
        });
    });
</script>

@section Style{

    <link href="~/lib/alertify/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/default.css" rel="stylesheet" />
}

@section scripts{
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>*@
    @*<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
    <!--moment js-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>*@
    <script src="~/lib/momentjs/moment.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    @*<script src="~/datatable/js/"></script>*@
    <script src="~/lib/alertify/alertify.js"></script>
    @*<script>
            $(document).ready(function () {
                //$.growl.error({ message: "The kitten is attacking!" });
                alertify.error('Error message');
            });
        </script>*@
    <script>
        var exchangeRate = 0.00;
        $(document).ready(function () {
            $.ajax({
                url: "/SystemConfigs/GetSysConfigByKey",
                datatype: "json",
                type: "get",
                data: { key: "EXCHANGE_RATE" },
                success: function (response) {
                    //    alert(JSON.stringify(response));
                    exchangeRate = parseFloat(response.value);
                    $("#exchange_rate").text(exchangeRate);
                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        });
    </script>
    <script>
        //trigger Model
        $(function () {
            $("#mBill").click(function () {

                var data_var = parseFloat($(this).attr('data-amount-USD'));
                var data_inv_id = $(this).attr('data-inv-id');
                var data_inv_code = $(this).attr('data-inv-code');

                //alert(data_inv_id);
                $("#InvoicesId").val(data_inv_id)
                // $("#InvCode").val(data_inv_code)
                $("#TotalPaidUSD").val(data_var.toFixed(2));
                $("#TotalPaidKHR").val(parseFloat($(this).attr('data-amount-KHR')));

                $("#RecievedAmountUSD,#RecievedAmountKHR").val("");



            })
        });
    </script>

    <script>

        $("#RecievedAmountUSD,#RecievedAmountKHR").keyup(function (e) {

            var amtUSD = parseFloat($("#RecievedAmountUSD").val());
            var amtKHR = parseFloat($("#RecievedAmountKHR").val());
            var totalUSD = parseFloat($("#TotalPaidUSD").val());
            var totalKHR = parseFloat($("#TotalPaidKHR").val());
            // var exchangeRate = parseFloat($('#exchange_rate').val());

            if (typeof (amtUSD) === 'undefined' || isNaN(amtUSD)) amtUSD = 0.00;
            if (typeof (amtKHR) === 'undefined' || isNaN(amtKHR)) amtKHR = 0.00;



            var exchangeUSD = amtKHR / exchangeRate;
            var exchangeKHR = amtUSD * exchangeRate;

            var gtUSD = amtUSD + exchangeUSD;
            //alert(gtUSD);
            if (isNaN(gtUSD)) gtUSD = 0.00;


            if (isNaN(exchangeUSD)) exchangeUSD = 0.00;
            if (isNaN(exchangeKHR)) exchangeKHR = 0.00;




            if (amtUSD != null) {
                amtUSD += exchangeUSD;
                if (amtUSD < totalUSD) {
                    $("#RecievedAmountUSD").css("color", "red")

                }
                else {
                    $("#RecievedAmountUSD").css("color", "")
                    $("#mBillSave").attr("disabled", false);
                }
            }

            if (amtKHR != null) {
                amtKHR += exchangeKHR;
                if (amtKHR < totalKHR) {
                    $("#RecievedAmountKHR").css("color", "red")
                }
                else {
                    $("#RecievedAmountKHR").css("color", "")
                    $("#mBillSave").attr("disabled", false);
                }
            }

            //alert(gtUSD);
            if (e.keyCode == 8) {
                if (gtUSD < totalUSD) {
                    $("#mBillSave").attr("disabled", true);
                }


            }




        });

    </script>

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
        <script>
            $(document).ready(function () {
                //$.growl.error({ message: "The kitten is attacking!" });
                $.bootstrapGrowl('You clicked this alert.', {
                    type: 'success',
                    delay: 2000,
                });
            });
        </script>*@

    <script>
        function click_void(val) {
            swal({
                title: "Are you sure?",
                text: "Once void, you will not be able to recover this invoice!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: "/TAInvoices/VoidInvoice",
                        datatype: "json",
                        type: "post",
                        data: { id: val },
                        success: function (response) {
                            if (response.value) {
                                swal({
                                    icon: 'success',
                                    title: 'Good job!',
                                    text: 'Invoice has been void !',
                                    timer: 1500
                                })
                                setTimeout(function () { window.location.reload(); }, 2000);

                            }
                            else {
                                swal("Oops!", "Something went wrong !", "error");
                            }


                        },
                        error: function (err) {
                            console.log("Error get datae :" + err);
                        }
                    });

                } else {
                    swal("Your Invoice is safe!");
                }
            });
        }


    </script>

    <script>
        function click_invDetail(val) {
            tableBody = $("#tbodym")
            tableBody.find($("tr")).remove()

            $.ajax({
                url: "/TAInvoices/FindInvoiceById",
                datatype: "json",
                type: "post",
                data: { id: val },
                success: function (response) {
                    console.log(response);
                    var j = 1;
                    for (var i = 0; i < response.invoicesDetail.length; i++) {
                        var tblappend = "<tr>"
                            + "<td>" + j + "</td>"
                            + "<td>" + response.invoicesDetail[i].menuItem.menuItemNameKH + "</td>"
                            + "<td>" + response.invoicesDetail[i].qty + "</td>"
                            + "<td>" + response.invoicesDetail[i].menuItem.stock.unitOfMeasure.nameKH + "</td>"
                            + "<td>" + response.invoicesDetail[i].menuItem.price + "</td>"
                            + "<td>" + response.invoicesDetail[i].discount + "</td>"
                            + "<td>" + response.invoicesDetail[i].price + "</td>"
                            + "<td>" + response.invoicesDetail[i].price * exchangeRate + "</td>"
                            + "</tr>"
                        tableBody.append(tblappend);
                        j++;
                    }
                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });

        }

    </script>

}
