﻿
@{
    var taList = await TakeAwaysServices.TakeAwaysList();
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">TakeAways Order</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in taList)
            {
            <div class="col-md-3">
                <div class="metric">
                    @if (item.Status != "Y")
                    {
                        <a asp-action="UpdateInvoice" asp-controller="TAInvoices" asp-route-taid="@item.Id" asp-route-name="@item.Name" type="button" class="btn btn-warning left" value="@item.Name">Order More</a>
                        <p>
                            <span class="title">No. @item.Name</span>
                        </p>
                        <span class="label label-warning">Busy</span>
                    }
                    else
                    {
                        <a asp-action="InsertInvoice" asp-controller="TAInvoices" asp-route-taid="@item.Id" asp-route-name="@item.Name"  type="button" class="btn btn-primary left" value="@item.Name">Click to Order</a>
                        <p>
                            <span class="title">No. @item.Name </span>
                        </p>
                        <span class="label label-success">Available</span>
                    }

                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- END OVERVIEW -->
