﻿<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll" id="myDiv">
        <nav>
            <ul class="nav">
                @if (Context.Session.GetString("rolename") == "Admin")
                {
                    <li>
                        <a is-active-route asp-controller="SystemConfigs" asp-action="SystemConfigsList" class=""><i class="lnr lnr-cog"></i> <span>Systems Management</span></a>
                    </li>
                    <li>
                        <a is-active-route asp-controller="Accounts" asp-action="Users" class=""><i class="lnr lnr-user"></i> <span>Users Management</span></a>
                    </li>
                    <li>
                        <a is-active-route asp-controller="Stocks" asp-action="StocksList" class=""><i class="fa fa-database"></i> <span>Stocks Management</span></a>
                    </li>
                }
                <li><a is-active-route asp-controller="Tables" asp-action="table" class=""><i class="fa fa-table"></i> <span>Tables Management</span></a></li>
                <li><a is-active-route asp-controller="TakeAways" asp-action="TakeAway" class=""><i class="fa fa-truck"></i> <span>TakeAways Management</span></a></li>
                <li><a is-active-route asp-controller="CategoryModels" asp-action="CategoryList" class=""><i class="fa fa-filter"></i> <span>Categories Management</span></a></li>
                <li><a is-active-route asp-controller="MenuItems" asp-action="MenuItemsList" class=""><i class="lnr lnr-dinner"></i><span>Menu Items Management</span></a></li>
                <li><a is-active-route asp-controller="Invoices" asp-action="TableSale" class=""><i class="lnr lnr-cart"></i> <span>Sales Management</span></a></li>
                <li><a is-active-route asp-controller="TAInvoices" asp-action="TASale" class=""><i class="lnr lnr-cloud-upload"></i> <span>T-A Sales Management</span></a></li>
                <li><a is-active-route asp-controller="Invoices" asp-action="InvoicesList" class=""><i class="fa fa-credit-card"></i> <span>Invoices Management</span></a></li>
                <li><a is-active-route asp-controller="TAInvoices" asp-action="InvoicesList" class=""><i class="fa fa-paypal"></i> <span>T-A Invoices Management</span></a></li>

                @*<li>
            <a href="#subPagesMenu" data-toggle="collapse" class="collapsed"><i class="lnr lnr-circle-minus"></i> <span>MenuItems</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPagesMenu" class="collapse ">
                <ul class="nav">
                    <li><a is-active-route asp-controller="MenuItems" asp-action="MenuItemsList" class="">MenuItemList</a></li>
                    <li><a is-active-route asp-controller="MenuItemTypes" asp-action="MenuItemTypeList" class="">MenuItemType</a></li>
                </ul>

            </div>
        </li>*@
                @*<li>
            <a href="#subPagesInvoices" data-toggle="collapse" class="collapsed"><i class="lnr lnr-alarm"></i> <span>Invoices Maintence</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPagesInvoices" class="collapse ">
                <ul class="nav">
                    <li><a is-active-route asp-controller="Invoices" asp-action="InvoicesList" class="">Invoices List</a></li>
                </ul>

            </div>
        </li>*@

                @*<li><a asp-controller="Accounts" asp-action="Dashboard" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>*@
                @*<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>*@

                @*<li>
            <a href="#subPagesStock" data-toggle="collapse" class="collapsed"><i class="lnr lnr-circle-minus"></i> <span>Stocks Maintence</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPagesStock" class="collapse ">
                <ul class="nav">
                    <li><a is-active-route asp-controller="Stocks" asp-action="StocksList" class="">Stocks List</a></li>
                </ul>

            </div>
        </li>*@

                @*
        <li><a is-active-route asp-controller="Invoices" asp-action="TableSale" class=""><i class="lnr lnr-cart"></i> <span>Sale Menu</span></a></li>
        <li><a is-active-route asp-controller="CategoryModels" asp-action="CategoryList" class=""><i class="fa fa-table"></i> <span>Category</span></a></li>
                *@
                @*<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
        <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>*@

                @*<li>
            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Reports</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPages" class="collapse ">
                <ul class="nav">
                    <li><a href="#" class="">Sale Report</a></li>
                    <li><a href="#" class="">Sale Chart Report</a></li>
                    <li><a href="#" class="">Stock Report</a></li>
                </ul>
            </div>
        </li>*@
                @*<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
        <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
        <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>*@


            </ul>
        </nav>
    </div>
</div>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

