﻿@*<div class="panel panel-headline">
    <div class="panel-body">

        <h3>Welcome to Sales Menu</h3>
        <hr>
        <div class="row">
            <div class="col-md-1">
                <label class="col-form-label">
                    <span class="label label-info">Table Number<span class="text-danger">*</span></span>
                </label>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-md-1">
                <label class="col-form-label">
                    <span class="label label-info">Floor Number</span>
                </label>
            </div>
            <div class="col-md-3"><input disabled type="text" class="form-control input-sm" placeholder="Floor Number" id="txtfloor" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content card-block" style="height: 600px; border: 1px #CCCCCC solid;background-color:#EBF5FB ;">
                <div class="tab-pane active" id="Item" role="tabpanel">
                    <div style="border-bottom: 1px #CCCCCC solid;">
                        <label style="margin-left: 5px;">Item Details</label>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fixed_headers">
                                <table class="display table-bordered table-striped table-sm" id="tbItems" width="100%">

                                    <thead style="background-color: #d4e6f1;">
                                        <tr>
                                            <th hidden></th>
                                            <th width="3%">#</th>
                                            <th>ProductName</th>
                                            <th>Qty</th>
                                            <th>UoM</th>
                                            <td>Category</td>
                                            <th>Price</th>
                                            <th>Discount (%)</th>
                                            <th>Total ($)</th>
                                            <th width="5%" style='text-align:center;vertical-align:middle'>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="itembody">

                                        @for (var i = 1; i < 11; i++)
                                            {
                                                <tr>
                                                    @if (i == 1)
                                                    {
                                                        <td width="3%">@i</td>
                                                    }
                                                    else
                                                    {
                                                        <td width="3%"></td>
                                                    }
                                                    <td></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true" style="width:120px;"></td>
                                                    <td></td>
                                                    <td hidden style="width:120px;"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }

                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="text-left" style="margin:5px 5px; padding:5px 5px;">
                                        <button type="button" class="btn btn-primary btn-sm text-left" data-toggle="modal" data-target="#modal-add-items">Add New</button>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Add New</button>
                                    </div>
                                    <div class="text-right" style="margin:5px 5px; padding:5px 5px;">
                                        <button type="submit" class="btn btn-primary save" id="SaveTesting">Send Order</button>
                                    </div>
                                    <div class="col-sm-4 pull-right">
                                        <div class="text-right" style="margin-right:0;">
                                            <input type="text" id="txtPriceService" value="0" hidden="hidden" />
                                            <input type="text" id="txtSpecialPrice" value="0" hidden="hidden" />
                                        </div>
                                        <table class="table-responsive invoice-total" style="padding: 3px 0px;text-align: right;" id="footer_invoice_total">
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;background-color: #c4e3f3">
                                                <td colspan="5" class="text-right" style="font-weight: lighter;">
                                                    <b style="text-transform: uppercase;">Total Due</b>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Sub Total (USD):</td>
                                                <td colspan="3" class="text-right sub_total_usd" style="font-weight: bold;min-width: 220px;" id="Subtotal">0.00</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Discount (%):</td>
                                                <td colspan="3" contenteditable="true" class="text-right discount_total_prcnt" onblur="onBlurChange();" style="font-weight: bold;background-color: #F0F8FF; min-width: 220px;">0.00</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Grand Total (KHR):</td>
                                                <td colspan="3" class="text-right grand_total_khr" style="font-weight: bold; min-width: 220px;">0</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Grand Total (USD):</td>
                                                <td colspan="3" class="text-right grand_total_usd" style="font-weight: bold; min-width: 220px;">0.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title" id="myModalLabel">Please Select Menu</h4>

            </div>
            <div class="modal-body">
                <div role="tabpanel">
                     Nav tabs 
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">Foods</a>

                        </li>
                        <li role="presentation">
                            <a href="#browseTab" aria-controls="browseTab" role="tab" data-toggle="tab">Drinks</a>

                        </li>
                    </ul>
                     Tab panes 
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Order Food</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Food Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Chicken Boil</td>
                                                <td>5</td>
                                                <td>
                                                    <a href="#" onclick="click_order" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a> 
                                                    <a href="#" class="btn-info btn-xs additem"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Salmon Sashimi</td>
                                                <td>8</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Cripy Pork</td>
                                                <td>5</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Beef Steak</td>
                                                <td>6</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="browseTab">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Order Drinks</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Drinks Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>ABC</td>
                                                <td>2</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Anchor</td>
                                                <td>1</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Angkor</td>
                                                <td>1</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Henigen</td>
                                                <td>2</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    
    calculateDueTotal(event);
    function calculateDueTotal(event) {

        let loop_item_ordered = $("#tbItems tbody").find("tr");

        let total = 0;
        let amt = 0.00;

        loop_item_ordered.each(function () {
            if ($(this).find("td.total-amount").length > 0) {
                amt = parseFloat($(this).find("td.total-amount").text());
                if (isNaN(amt)) amt = 0.00;
                total += amt;
            }
        });

        if (isNaN(total)) total = 0.00;//testing

        if (event.keyCode == 8) {
            total = 0;
            loop_item_ordered.each(function () {
                if ($(this).find("td.total-amount").length > 0) {
                    amt = parseFloat($(this).find("td.total-amount").text());
                    if (isNaN(amt)) amt = 0.00;
                    total += amt;
                }
            });
        }



        $("#Subtotal").text(total.toFixed(2));
        $(".grand_total_khr").text(total * 4000);
        $(".grand_total_usd").text(total.toFixed(2));

    }
</script>
<script>
    tableBody = $("#itembody")
    $(function () {
        $(".additem").click(function () {
            var i = 1;
            let loop_item_ordered = $("#itembody").find("tr");
             loop_item_ordered.each(function () {
                 if ($(this).find("td.total-amount").length > 0) {
                     i++;
                }
            });
            // alert($(this).closest("tr").find('td:eq(0)').text());
            var proname = $(this).closest("tr").find('td:eq(1)').text();
            var up = parseFloat($(this).closest("tr").find('td:eq(2)').text());
            var tblappend = "<tr><td hidden class='SaleID'></td><td>" + i + "</td><td class='ProductName'>" + proname + "</td><td contenteditable='true' class='use-address'>" + 1 + "</td><td class='UoM'>" + "plates" + "</td><td class='UnitPrice'>" + up + "</td><td>" + "0.00</td><td class='total-amount'>" + up + "</td><td width='5%' style='text-align:center;vertical-align:middle'> <a href='#' class='label label-danger removeRow' onclick='clickremove(this)'><i class='fa fa-trash'></i></a>" + /*"Action" +*/ "</td></tr>";
            tableBody.append(tblappend);
            calculateDueTotal(event);
        })

    });



</script>

<script>
    function clickremove(element) {
        $(element).closest("tr").remove();
        calculateDueTotal(event);
    }
</script>

<script>
    //testing submit list
    $("#SaveTesting").click(function () {

        var things = [];
        let loop_item = $("#tbItems tbody").find("tr");
        loop_item.each(function () {
            if ($(this).find("td.total-amount").length > 0) {

                things.push({ ProductName: $(this).find("td.ProductName").text(), Qty: parseInt($(this).find("td.use-address").text()), UoM: $(this).find("td.UoM").text(), UnitPrice: parseFloat($(this).find("td.UnitPrice").text()) });
             //    things.push({ Qty: parseInt($(this).find("td.use-address").text()) });
               
                //  alert(JSON.stringify(things));
            }
        });
         $.ajax({
            url: "/Sales/SaleItemToDb",
            datatype: "json",
            type: "post",
            data: { sales: things},
            success: function (response) {

                //alert(JSON.stringify(response));
                alert("sucess");
            },
            error: function (err) {
                console.log("Error get datae :" + err);
                alert(err);
            }
        });
    });
    
       
</script>

<script>

    $("#itembody").delegate(".use-address", "keyup", function () {
        //alert("Delegated Button Clicked")
        //alert($(this).closest("tr").find('td:eq(3)').text());
        var qty = parseFloat($(this).closest("tr").find('td:eq(3)').text());
        var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);

        if (isNaN(qty)) qty = 1;

        $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice);

        calculateDueTotal(event);
    });

</script>*@
