﻿@*@model Sales

<input type="hidden" id="tempInvCode" value="@ViewBag.InvCodeTemp"/>
<div class="panel panel-headline">
    <div class="panel-body">

        <h3>Welcome to Sales Menu</h3>
        <hr>
        <div class="row">
            <div class="col-md-1">
                <label class="col-form-label">
                    <span class="label label-info">Table Number<span class="text-danger">*</span></span>
                </label>
            </div>
            <div class="col-md-3">
                <input disabled type="text" class="form-control input-sm" value="@ViewBag.TableNum" />
            </div>
            <div class="col-md-1">
                <label class="col-form-label">
                    <span class="label label-info">Floor Number</span>
                </label>
            </div>
            <div class="col-md-3">
                @if (ViewBag.FloorNum != null)
                {
                    <input disabled type="text" class="form-control input-sm" value="@ViewBag.FloorNum" />
                }
                else
                {
                    <input disabled type="text" class="form-control input-sm" placeholder="Floor Number" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content card-block" style="height: 600px; border: 1px #CCCCCC solid;background-color:#EBF5FB ;">
                <div class="tab-pane active" id="Item" role="tabpanel">
                    <div style="border-bottom: 1px #CCCCCC solid;">
                        <label style="margin-left: 5px;">Item Details</label>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fixed_headers">
                                <table class="display table-bordered table-striped table-sm" id="tbItems" width="100%">
                                    <thead style="background-color: #d4e6f1;">
                                        <tr>
                                            <th hidden></th>
                                            <th width="3%">#</th>
                                            <th>ProductName</th>
                                            <th>Qty</th>
                                            <th>UoM</th>
                                            <td>Category</td>
                                            <th>Price</th>
                                            <th>Discount (%)</th>
                                            <th>Total ($)</th>
                                            <th width="5%" style='text-align:center;vertical-align:middle'>Action</th>
                                        </tr>
                                    </thead>
                                  
                                        <tbody>

                                            @{
                                                int i = 1;
                                                if (ViewBag.SalesInvUpdateList != null)
                                                {
                                                    <tr>


                                                        @foreach (var salesInvUpdate in ViewBag.SalesInvUpdateList as List<Sales>)
                                                        {
                                                            <td hidden class="SaleID">@salesInvUpdate.SaleID</td>
                                                            <td width="3%">@i</td>
                                                            <td class="ProductName">@salesInvUpdate.ProductName</td>
                                                            <td contenteditable="true" class="use-address">@salesInvUpdate.Qty</td>

                                                            <td style="width:120px;" class="UoM">@salesInvUpdate.UoM</td>

                                                            <td class="UnitPrice">@salesInvUpdate.UnitPrice</td>
                                                            <td>0</td>
                                                            <td contenteditable class="total-amount" onkeyup="calculateDueTotal(event)"> @{ @(salesInvUpdate.UnitPrice * salesInvUpdate.Qty)}</td>
                                                            <td width="5%" style='text-align:center;vertical-align:middle'> <a href="#" class="label label-danger removeRow"><i class="fa fa-trash"></i> </a></td>
                                                            i++;
                                                        }
                                                    </tr>
                                                }
                                              

                                                <form asp-action="SalesInvUpdateItem" asp-controller="Sales" method="post">
                                                        <input name="[0].Qty" class="form-control" autocomplete="off" />
                                                        <input name="[1].Qty" class="form-control" autocomplete="off" />
                                                        <button type="submit" class="btn btn-primary save" id="mBillSave">Save Change</button>
                                                    </form>
                                                <tr>
                                                        @foreach (var salesInvUpdate in ViewBag.SalesInvUpdateList as List<Sales>)
                                                        {
                                                            <td width="3%">@i</td>
                                                            <td>B@salesInvUpdate.ProductName</td>
                                                            <td contenteditable="true" class="use-address">@salesInvUpdate.Qty</td>

                                                            <td contenteditable="true" style="width:120px;">@salesInvUpdate.UoM</td>

                                                            <td>1@salesInvUpdate.TotalPriceUSD</td>
                                                            <td contenteditable class="total-amount" onkeyup="calculateDueTotal(event)">@{ @(salesInvUpdate.TotalPriceUSD * salesInvUpdate.Qty)}</td>
                                                            <td width="5%" style='text-align:center;vertical-align:middle'><a href="#" class="label label-danger removeRow"><i class="fa fa-trash"></i> </a></td>
                                                            i++;
                                                        }
                                                    </tr>
                                            }
                                        </tbody>
                                   

                                </table>
                                <div class="row">
                                    <div class="text-left" style="margin:5px 5px; padding:5px 5px;">
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Add New</button>
                                    </div> 
                                    
                                    <div class="text-right" style="margin:5px 5px; padding:5px 5px;">
                                        <button type="submit" class="btn btn-primary save" id="SaveTesting">Save Change</button>
                                    </div>
                                    <div class="col-sm-4 pull-right">
                                        <div class="text-right" style="margin-right:0;">
                                            <input type="text" id="txtPriceService" value="0" hidden="hidden" />
                                            <input type="text" id="txtSpecialPrice" value="0" hidden="hidden" />
                                        </div>
                                        <table class="table-responsive invoice-total" style="padding: 3px 0px;text-align: right;" id="footer_invoice_total">
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;background-color: #c4e3f3">
                                                <td colspan="5" class="text-right" style="font-weight: lighter;">
                                                    <b style="text-transform: uppercase;">Total Due</b>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Sub Total (USD):</td>
                                                <td colspan="3" class="text-right sub_total_usd" style="font-weight: bold;min-width: 220px;" id="Subtotal">0.00</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Discount (%):</td>
                                                <td colspan="3" contenteditable="true" class="text-right discount_total_prcnt" onblur="onBlurChange();" style="font-weight: bold;background-color: #F0F8FF; min-width: 220px;">0.00</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                    <td colspan="2" style="font-weight: lighter;">Total Disc (USD):</td>
                                                    <td colspan="3" class="text-right discount_total_usd" style="font-weight: bold;">0.00</td>
                                                </tr>
                                                <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                    <td colspan="2" style="font-weight: lighter;">VAT (%):</td>
                                                    <td colspan="3" contenteditable="true" class="text-right vat_total_prcnt" onblur="onBlurChange();" style="font-weight: bold;background-color: #F0F8FF; min-width: 220px;">0.00</td>
                                                </tr>
                                                <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                    <td colspan="2" style="font-weight: lighter;">Total VAT (USD):</td>
                                                    <td colspan="3" contenteditable="true" class="text-right vat_total_usd" style="font-weight: bold; min-width:220px;">0.00</td>
                                                </tr>
                                                <tr style="border-bottom: 1px solid #CCCCCC;">
                                                    <td colspan="2" style="font-weight: lighter;">Other Charge (USD):</td>
                                                    <td colspan="3" contenteditable="true" class="text-right charge_total_usd" onblur="onBlurChange();" style="font-weight: bold;min-width: 220px;">0.00</td>
                                                </tr>

                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Grand Total (KHR):</td>
                                                <td colspan="3" class="text-right grand_total_khr" style="font-weight: bold; min-width: 220px;">0</td>
                                            </tr>
                                            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                                                <td colspan="2" style="font-weight: lighter;">Grand Total (USD):</td>
                                                <td colspan="3" class="text-right grand_total_usd" style="font-weight: bold; min-width: 220px;">0.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title" id="myModalLabel">Please Select Menu</h4>

            </div>
            <div class="modal-body">
                <div role="tabpanel">
                     Nav tabs 
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">Foods</a>

                        </li>
                        <li role="presentation">
                            <a href="#browseTab" aria-controls="browseTab" role="tab" data-toggle="tab">Drinks</a>

                        </li>
                    </ul>
                     Tab panes 
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Order Food</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Food Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Chicken Boil</td>
                                                <td>5</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Salmon Sashimi</td>
                                                <td>8</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Cripy Pork</td>
                                                <td>5</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Beef Steak</td>
                                                <td>6</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="browseTab">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Order Drinks</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Drinks Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>ABC</td>
                                                <td>2</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Anchor</td>
                                                <td>1</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Angkor</td>
                                                <td>1</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Henigen</td>
                                                <td>2</td>
                                                <td>
                                                    <a href="#" class="btn-info btn-xs"><i class="fa fa-check-circle"></i>Select</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>
jmin
<script src="~/lib/jquery/dist/jquery.min.js"></script>
 Button trigger modal
<div class="modal fade model-fle" id="modal-add-items" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="min-width: 650px">
        <div class="modal-content">
            <div class="modal-body model-container">
                @{ await Html.RenderPartialAsync("_ItemOrder");}
            </div>
        </div>
    </div>
</div>
 MODAL UOMS
<div class="modal fade model-fle" id="modal-uom" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>Select Unit of Measure</p>
            </div>
            <div class="modal-body model-container">
                <form>
                    <input class="itemId" hidden="hidden" id="itemIdChangeUoM" />
                    <div class="form-group">
                        <label>UoM</label>
                        <select class="form-control" id="selectUoM" onchange="changeSelectUoM();">
                        </select>
                    </div>
                    <div class="form-group text-right" hidden="hidden">
                        <button class="btn-primary btn-sm" data-dismiss="modal">Save</button>
                        <button class="btn-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



testing



<script>
    calculateDueTotal(event);
    function calculateDueTotal(event) {

        let loop_item_ordered = $("#tbItems tbody").find("tr");

        let total = 0;
        let amt = 0.00;

        loop_item_ordered.each(function () {
            if ($(this).find("td.total-amount").length > 0) {
                amt = parseFloat($(this).find("td.total-amount").text());
                if (isNaN(amt)) amt = 0.00;
                total += amt;
            }
        });

        if (isNaN(total)) total = 0.00;//testing

        if (event.keyCode == 8) {
            total = 0;
            loop_item_ordered.each(function () {
                if ($(this).find("td.total-amount").length > 0) {
                    amt = parseFloat($(this).find("td.total-amount").text());
                    if (isNaN(amt)) amt = 0.00;
                    total += amt;
                }
            });
        }



        $("#Subtotal").text(total.toFixed(2));
        $(".grand_total_khr").text(total * 4000);
        $(".grand_total_usd").text(total.toFixed(2));

    }
</script>

<script>

    //testing
    $('.use-address').keyup(function (e) {
        var qty = parseFloat($(this).closest("tr").find('td:eq(3)').text());
        //alert(qty);
        var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);
        //alert(UnitPrice);
        if (isNaN(qty)) qty = 1;

        $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice);
        //alert("Hello");
        calculateDueTotal(event);
    });
    //end testing

</script>

<script>
    //remove row test
    //function RemoveRow()
    //{
    //    alert("Hello");
    //    alert($(this).closest("tr").find('td:eq(4)').text());
    //}
    $(function () {
        $(".removeRow").click(function () {

            //alert("Hello");
            //alert($(this).closest("tr").find('td:eq(0)').text());
            $(this).closest("tr").remove()

            //calculate logic
            calculateDueTotal(event);
            //end calculate logic


            //remove item from sale

            //end remove item from sale



        })
    });

</script>


<script>
        //testing submit list
    $("#SaveTesting").click(function () {

        var things = [];
        let loop_item = $("#tbItems tbody").find("tr");
         loop_item.each(function () {
            if ($(this).find("td.total-amount").length > 0) {
                //alert($(this).find("td.use-address").text())
                things.push({ Qty: parseInt($(this).find("td.use-address").text()), });
               /// things.push({ Qty: parseInt($(this).find("td.use-address").text()) });
                alert(JSON.stringify(things));
            }
         });

        var tempInvCode = $("#tempInvCode").val();
        alert(tempInvCode);
        $.ajax({
            url: "/Sales/SalesInvUpdateItem",
            datatype: "json",
            type: "post",
            data: { sales: things,invCode:tempInvCode },
            success: function (response) {

                //alert(JSON.stringify(response));
               // alert("sucess");
            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
});
</script>*@
