﻿@model InventorySystemThesis.Models.Inventory.Table.Tables
@*@{
        ViewData["Title"] = "Index";
    }*@

<style>
    .error {
        color: red;
        font-style: italic;
        font-weight: bold;
    }
</style>

<span class="pull-right">
    <span class="pull-right"><a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#tableModal">Create New Table</a></span>
</span>

<!--Create Popup Modal-->
<div class="modal fade" id="tableModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Table Info</h2>
            </div>
            <form asp-action="SaveTable" asp-controller="Tables" method="post" id="frmModalCreate">

                <div class="modal-body">

                    <div class="form-group">
                        <label asp-for="TableNumber" class="control-label"></label>
                        <input asp-for="TableNumber" class="form-control " required />
                        <span asp-validation-for="TableNumber" class="text-danger error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FloorNumber" class="control-label"></label>
                        <input asp-for="FloorNumber" class="form-control " min="1" required />
                        <span asp-validation-for="FloorNumber" class="text-danger error"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnCreate" class="btn btn-primary save">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!--Edit Popup Modal-->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Info</h2>
            </div>
            <form asp-action="EditTable" asp-controller="Tables" method="post">

                <div class="modal-body">
                    <input type="hidden" asp-for="TableID" class="tblid" />
                    <div class="form-group">
                        <label asp-for="TableNumber" class="control-label"></label>
                        <input asp-for="TableNumber" class="form-control tblnumber" required />
                        <span asp-validation-for="TableNumber" class="text-danger error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FloorNumber" class="control-label"></label>
                        <input asp-for="FloorNumber" class="form-control tblfloor" min="1" required />
                        <span asp-validation-for="FloorNumber" class="text-danger error"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save Change</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="display table table-striped table-sm" style="width:100%" id="ExampleDataTable">
    <thead>
        <tr>
            <th>
                TableNumber
            </th>
            <th>
                FloorNumber
            </th>
            <th>
                Status
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Tables)
        {
            <tr>
                <td>
                    @item.TableNumber
                </td>
                <td>
                    @item.FloorNumber
                </td>
                <td>
                    @item.Status
                </td>

                <td>
                    <a href="#" class="btn-info btn-xs" data-toggle="modal" data-target="#editModal" onclick="click_Update(@item.TableID)"><i class="fa fa-edit"></i>Edit</a> |
                    <a href="#" onclick="click_Delete(@item.TableID)" class="btn-danger btn-xs" @*data-toggle="modal" data-target="#deleteModal"*@><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
@*<script src="~/datatable/js/"></script>*@

<script>
    $(document).ready(function () {
        $('#ExampleDataTable').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
        //    ,
        //    dom: 'B<"clear">lfrtip',
        //    buttons: [
        //    {
        //        extend: 'csv',
        //        title: 'Data export',
        //        exportOptions: {
        //            columns: [ 0 ]
        //        },
        //         className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-csv ttip'

        //    },
        //    {
        //        extend: 'pdfHtml5',
        //        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-pdf ttip',
        //        title: 'Data export'
        //    }
        //]
          });
        });
    @* }); *@

</script>
<script>
    function click_Update(val) {
        $.ajax({
            //url :"/controller_name/action_name"
            url: "/Tables/EditTable",
            datatype: "json",
            type: "get",
            data: { id: val },
            success: function (response) {
                // alert(JSON.stringify(response));
                //$(.class).val(response.must_be_same_as_value_that_alert)
                $('.tblid').val(response.tableID);
                $('.tblnumber').val(response.tableNumber);
                $('.tblfloor').val(response.floorNumber);

            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
    }
    function click_Delete(val) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/Tables/DeleteTable",
                    datatype: "json",
                    type: "post",
                    data: { id: val },
                    success: function (response) {

                        if (response.data) {
                            swal({
                                icon: 'success',
                                title: 'Good job!',
                                text: 'Data has been deleted !',
                                timer: 1500
                            })
                            setTimeout(function () { window.location.href = "/Tables/table"; }, 2000);

                        }
                        else {
                            swal("Oops!", "Something went wrong !", "error");
                        }


                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });

            } else {
                swal("Your data is safe!");
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        $("#btnCreate").click(function () {
            var tableFormData = $("#tableForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Tables/SaveTable",
                data: tableFormData,
                success: function () {
                    window.location.href = "/Tables/table";
                }
            })
        })

    })

</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(function () {
            $('#frmModalCreate').validate();

            if ($('#frmModalCreate').valid() === false) {
                console.log("invalid");
            } else {
                console.log("valid!");
            }
        });
    </script>
}

