﻿@{

    var menuItemList = await MenuItemsServices.MenuItemList();
    var cateList = await CategoryServices.CateList();

}

<input type="hidden" id="tblid" value="@ViewBag.tblid">
<span class="label label-info">Table No.@ViewBag.tblnumber / Floor No.@ViewBag.floor</span>
<!--EXCHANGE_RATE-->
<div class="pull-right">
    <h4 align="left" class="text-success">
        <span>
            RATE : 1$ =
        </span>
        <span id="exchange_rate">
        </span>
        <span>
            ៛
        </span>
    </h4>
</div>

<!-- search menu item-->
<div class="form-group">
    <h4>Search Menu Item</h4>
    <select class="form-control" id="menuItemSearchId" name="menuitem" searchable>
        <option value="" disabled>Select Menu Item</option>
        @foreach (var cate in cateList)
        {
            var menuItemLists = menuItemList.Where(_ => _.Stock.CategoryCateID == cate.CateID);
            <optgroup label="@cate.CateNameKH">
                @foreach (var menuitem in menuItemLists)
                {
                    <option value="@menuitem.MenuItemId">@menuitem.MenuItemNameKH</option>
                }
            </optgroup>
        }
    </select>
</div>

<div class="panel panel-profile">
    <div class="clearfix">
        <!-- LEFT COLUMN -->
        <div class="profile-left">
            <div class="fixed_headers">
                <table class="display table-sm" id="tbItems" width="100%">

                    <thead @*style="background-color: #d4e6f1;"*@>
                        <tr>
                            <th hidden></th>
                            <th width="3%">#</th>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>UoM</th>
                            <th>Price($)</th>
                            <th>Dis(%)</th>
                            <th>Total($)</th>
                            <th width="5%" style='text-align:center;vertical-align:middle'>Action</th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END LEFT COLUMN -->
        <!-- RIGHT COLUMN -->
        <div class="profile-right">
            <h4 class="heading">Menu Items </h4>
            <!-- AWARDS -->
            @*<div class="awards">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="award-item">
                                <div class="hexagon">
                                    <span class="lnr lnr-sun award-icon"></span>
                                </div>
                                <span>Most Bright Idea</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="award-item">
                                <div class="hexagon">
                                    <span class="lnr lnr-clock award-icon"></span>
                                </div>
                                <span>Most On-Time</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="award-item">
                                <div class="hexagon">
                                    <span class="lnr lnr-magic-wand award-icon"></span>
                                </div>
                                <span>Problem Solver</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="award-item">
                                <div class="hexagon">
                                    <span class="lnr lnr-heart award-icon"></span>
                                </div>
                                <span>Most Loved</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><a href="#" class="btn btn-default">See all awards</a></div>
                </div>*@
            <!-- END AWARDS -->
            <!-- TABBED CONTENT -->
            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                <ul class="nav" role="tablist">
                    @*<li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Recent Activity</a></li>
                        <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Projects <span class="badge">7</span></a></li>*@
                    @foreach (var cate in cateList)
                    {
                        <li class=""><a href="#@cate.CateID" @*href="#tab-bottom-left1"*@ role="tab" data-toggle="tab">@cate.CateNameKH</a></li>
                    }
                </ul>
            </div>
            <div class="tab-content">
                @{int j = 1;}
                @foreach (var cate in cateList)
                {
                    @if (j == 1)
                    {
                        j++;
                        <div class="tab-pane fade in active" id="@cate.CateID">
                            @{ var itemList = menuItemList.Where(_ => _.Stock.CategoryCateID == cate.CateID).ToList(); }
                            @if (itemList != null)
                            {
                                foreach (var items in itemList)
                                {
                                    <div class="col-sm-4">
                                        <div class="metric">
                                            <table>
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><p class="title">@items.MenuItemNameKH<span class="label label-danger fa fa-dollar">@items.Price</span></p></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h4><a href="#" class="label label-success left additem" onclick="click_additem(@items.MenuItemId)">Choose</a></h4>
                                        </div>
                                    </div>}
                            }

                        </div> }
                    else
                    {
                        <div class="tab-pane fade in" id="@cate.CateID">
                            @{ var itemList = menuItemList.Where(_ => _.Stock.CategoryCateID == cate.CateID).ToList(); }
                            @if (itemList != null)
                            {
                                foreach (var items in itemList)
                                {
                                    <div class="col-sm-4">
                                        <div class="metric">
                                            <table>
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><p class="title">@items.MenuItemNameKH<span class="label label-danger fa fa-dollar">@items.Price</span></p></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h4><a href="#" class="label label-success left additem" onclick="click_additem(@items.MenuItemId)">Choose</a></h4>
                                        </div>
                                    </div>}
                            }

                        </div>
                    }
                }
            </div>

            @*<div class="tab-content">
                                @foreach (var cate in cateList)
                                {

                    <div class="tab-pane fade in" id="@cate.CateID">
                        @{ var itemList = menuItemList.Where(_ => _.Stock.CategoryCateID == cate.CateID).ToList(); }
                        @if (itemList != null)
                        {
                            foreach (var items in itemList)
                            {
                <div class="col-sm-4">
                    <div class="metric">
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p class="title">@items.MenuItemNameKH<span class="label label-danger fa fa-dollar">@items.Price</span></p></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4><a href="#" class="label label-success left additem" onclick="click_additem(@items.MenuItemId)">Choose</a></h4>
                    </div>
                </div>}
                }

                    </div>}
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                        <ul class="list-unstyled activity-timeline">
                                            <li>
                                                <i class="fa fa-comment activity-icon"></i>
                                                <p>Commented on post <a href="#">Prototyping</a> <span class="timestamp">2 minutes ago</span></p>
                                            </li>
                                            <li>
                                                <i class="fa fa-cloud-upload activity-icon"></i>
                                                <p>Uploaded new file <a href="#">Proposal.docx</a> to project <a href="#">New Year Campaign</a> <span class="timestamp">7 hours ago</span></p>
                                            </li>
                                            <li>
                                                <i class="fa fa-plus activity-icon"></i>
                                                <p>Added <a href="#">Martin</a> and <a href="#">3 others colleagues</a> to project repository <span class="timestamp">Yesterday</span></p>
                                            </li>
                                            <li>
                                                <i class="fa fa-check activity-icon"></i>
                                                <p>Finished 80% of all <a href="#">assigned tasks</a> <span class="timestamp">1 day ago</span></p>
                                            </li>
                                        </ul>
                                        <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">See all activity</a></div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-bottom-left2">
                                        <div class="table-responsive">
                                            <table class="table project-table">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Progress</th>
                                                        <th>Leader</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a href="#">Spot Media</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                    <span>60% Complete</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user2.png" alt="Avatar" class="avatar img-circle"> <a href="#">Michael</a></td>
                                                        <td><span class="label label-success">ACTIVE</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">E-Commerce Site</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                                                    <span>33% Complete</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user1.png" alt="Avatar" class="avatar img-circle"> <a href="#">Antonius</a></td>
                                                        <td><span class="label label-warning">PENDING</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">Project 123GO</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                                                    <span>68% Complete</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user1.png" alt="Avatar" class="avatar img-circle"> <a href="#">Antonius</a></td>
                                                        <td><span class="label label-success">ACTIVE</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">Wordpress Theme</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                                    <span>75%</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user2.png" alt="Avatar" class="avatar img-circle"> <a href="#">Michael</a></td>
                                                        <td><span class="label label-success">ACTIVE</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">Project 123GO</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                                    <span>100%</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user1.png" alt="Avatar" class="avatar img-circle" /> <a href="#">Antonius</a></td>
                                                        <td><span class="label label-default">CLOSED</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">Redesign Landing Page</a></td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                                    <span>100%</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><img src="assets/img/user5.png" alt="Avatar" class="avatar img-circle" /> <a href="#">Jason</a></td>
                                                        <td><span class="label label-default">CLOSED</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>*@



            <!-- END TABBED CONTENT -->

        </div>
        <!-- END RIGHT COLUMN -->
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="text-right" style="margin-right:0;">
            <input type="text" id="txtPriceService" value="0" hidden="hidden" />
            <input type="text" id="txtSpecialPrice" value="0" hidden="hidden" />
        </div>
        <table class="table-responsive invoice-total" style="padding: 3px 0px;text-align: right;" id="footer_invoice_total">
            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;background-color: #c4e3f3">
                <td colspan="5" class="text-right" style="font-weight: lighter;">
                    <b style="text-transform: uppercase;">Total Due</b>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                <td colspan="2" style="font-weight: lighter;">Sub Total (USD):</td>
                <td colspan="3" class="text-right sub_total_usd" style="font-weight: bold;min-width: 220px;" id="Subtotal">0.00</td>
            </tr>
            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                <td colspan="2" style="font-weight: lighter;">Discount (%):</td>
                <td colspan="3" contenteditable="true" class="text-right discount_total_prcnt" onkeyup="calculateDueTotal(event)" style="font-weight: bold;background-color: #F0F8FF; min-width: 220px;">0.00</td>
            </tr>
            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                <td colspan="2" style="font-weight: lighter;">Grand Total (KHR):</td>
                <td colspan="3" class="text-right grand_total_khr" style="font-weight: bold; min-width: 220px;">0</td>
            </tr>
            <tr style="border-bottom: 1px solid #CCCCCC;width: auto;">
                <td colspan="2" style="font-weight: lighter;">Grand Total (USD):</td>
                <td colspan="3" class="text-right grand_total_usd" style="font-weight: bold; min-width: 220px;">0.00</td>
            </tr>
        </table>
    </div>

    <div class="pull-right">
        <div class="text-left" style="margin:5px 5px; padding:5px 5px;">
            <button type="submit" class="btn btn-primary save" id="OrderItem">Send Order</button>
            @*<button type="submit" class="btn btn-primary save">Print</button>
            <button type="submit" class="btn btn-primary save">Send Chef</button>*@
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script src="~/lib/alertify/alertify.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- CDN links -->
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@
<link href="~/lib/amifyselect/css/amsify.select.css" rel="stylesheet" />
<script src="~/lib/amifyselect/js/jquery.amsifyselect.js"></script>

<!-- -->
<script type="text/javascript">
    $('select').amsifySelect({
        classes: {
            clear: 'btn btn-danger',
            close: 'btn btn-primary'
        }
    });
</script>




@section Style{

    <link href="~/lib/alertify/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/themes/default.css" rel="stylesheet" />
}
@section scripts{
    <script>
        var exchangeRate = 0.00;
        $(document).ready(function () {
            $.ajax({
                url: "/SystemConfigs/GetSysConfigByKey",
                datatype: "json",
                type: "get",
                data: { key: "EXCHANGE_RATE" },
                success: function (response) {
                    //    alert(JSON.stringify(response));
                    exchangeRate = parseFloat(response.value);
                    $("#exchange_rate").text(exchangeRate);
                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        });
    </script>
    @*<script>
            $(document).ready(function () {
                $('select').selectize({
                    sortField: 'text'
                });
            });
        </script>*@
    <script>
        tableBody = $("#itembody")
        function click_additem(val) {

            var i = 1;
            var bool = false;
            let loop_item = tableBody.find("tr");
            loop_item.each(function () {
                if (parseInt($(this).find("td.menuItemId").text()) == val) {
                    bool = true;

                    var qty = parseFloat($(this).closest("tr").find('td.use-address').text());
                    var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);
                    var disc = parseFloat($(this).closest("tr").find('td:eq(6)').text()).toFixed(2);
                    var munename = $(this).closest("tr").find('td:eq(2)').text();
                    qty++;

                    $.ajax({
                        url: "/Invoices/validateInsertQty",
                        datatype: "json",
                        type: "post",
                        data: { menuItemId: val, Qty: qty },
                        success: function (response) {

                            if (!response.value) {
                                //swal({
                                //    title: "Opps",
                                //    text: munename + " is out of stock",
                                //    icon: "error",
                                //    dangerMode: true,
                                //    timer: 1500
                                //})
                                alertify.error(munename + ' is out of stock');
                            }

                        },
                        error: function (err) {
                            console.log("Error get datae :" + err);
                        }
                    });


                    if (isNaN(disc)) disc = 0.00;
                    disc = 1 - (disc / 100);

                    $(this).closest("tr").find('td.use-address').html(qty);
                    $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice * disc);
                    calculateDueTotal(event);
                    return false;
                }
            });

            if (loop_item.length > 0)
                i = loop_item.length + 1;

            if (!bool) {
                $.ajax({
                    url: "/MenuItems/UpdateMenuItem",
                    datatype: "json",
                    type: "get",
                    data: { id: val },
                    success: function (response) {
                        //alert(JSON.stringify(response));
                        //console.log(response);
                        if (response.stock.stockQty < response.qtytoStock) {
                            if (!response.value) {
                                //swal({
                                //    title: "Opps",
                                //    text: response.menuItemNameKH + " is out of stock",
                                //    icon: "error",
                                //    dangerMode: true,
                                //    timer: 1500
                                //})
                                alertify.error(response.menuItemNameKH + ' is out of stock');
                            }

                        }


                        var tblappend = "<tr><td hidden class='menuItemId'>" + response.menuItemId + "</td>"
                            + "<td>" + i + "</td>"
                            + "<td class='ProductName'> " + response.menuItemNameKH + "</td >"
                            + "<td contenteditable='true' class='use-address'> " + 1 + "</td >"
                            + "<td class='UoM'>" + response.stock.unitOfMeasure.nameKH + "</td >"
                            + "<td class='UnitPrice'>" + response.price + "</td>"
                            + "<td class='disc' contenteditable='true' >0.00</td>"
                            + "<td class='total-amount' > " + response.price + "</td >"
                            + "<td width='5%' style='text-align:center;vertical-align:middle'><a href='#' class='label label-danger removeRow' onclick='clickremove(this)'><i class='fa fa-trash'></i></a>" + /*"Action" +*/ "</td></tr > ";
                        //alert(tblappend);
                        tableBody.append(tblappend);
                        calculateDueTotal(event);

                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });
            }


        }

        function clickremove(element) {
            $(element).closest("tr").remove();
            calculateDueTotal(event);
        }


        calculateDueTotal(event);
        function calculateDueTotal(event) {

            let loop_item_ordered = $("#tbItems tbody").find("tr");

            let total = 0;
            let amt = 0.00;

            loop_item_ordered.each(function () {
                if ($(this).find("td.total-amount").length > 0) {
                    amt = parseFloat($(this).find("td.total-amount").text());
                    if (isNaN(amt)) amt = 0.00;
                    total += amt;
                }
            });

            if (isNaN(total)) total = 0.00;

            if (event.keyCode == 8) {
                total = 0;
                loop_item_ordered.each(function () {
                    if ($(this).find("td.total-amount").length > 0) {
                        amt = parseFloat($(this).find("td.total-amount").text());
                        if (isNaN(amt)) amt = 0.00;
                        total += amt;
                    }
                });
            }

            var disc = parseFloat($(".discount_total_prcnt").text());
            var exchange_rate = parseFloat($("#exchange_rate").text());

            disc = 1 - (disc / 100);
            if (isNaN(disc)) disc = 0;
            var gt = total * disc

            $("#Subtotal").text(total.toFixed(2));
            // $(".grand_total_khr").text(total * 4000 * disc);
            $(".grand_total_khr").text(total * exchange_rate * disc);
            $(".grand_total_usd").text(gt.toFixed(2));

        }

    </script>

    <script>
        $("#itembody").delegate(".use-address", "keyup", function () {
            var qty = parseFloat($(this).closest("tr").find('td:eq(3)').text());
            var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);
            var disc = parseFloat($(this).closest("tr").find('td:eq(6)').text()).toFixed(2);
            var munename = $(this).closest("tr").find('td:eq(2)').text();
            var menuitemid = $(this).closest("tr").find("td.menuItemId").text();

            if (isNaN(qty)) qty = 1;
            if (isNaN(disc)) disc = 0.00;
            disc = 1 - (disc / 100);

            $.ajax({
                url: "/Invoices/validateInsertQty",
                datatype: "json",
                type: "post",
                data: { menuItemId: menuitemid, Qty: qty },
                success: function (response) {

                    if (!response.value) {
                        alertify.error(munename + ' is out of stock');
                    }

                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });

            $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice * disc.toFixed(2));

            calculateDueTotal(event);
        });
    </script>

    <script>
        $("#itembody").delegate(".disc", "keyup", function () {
            var qty = parseFloat($(this).closest("tr").find('td:eq(3)').text());
            var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);
            var disc = parseFloat($(this).closest("tr").find('td:eq(6)').text()).toFixed(2);

            if (isNaN(qty)) qty = 1;
            if (isNaN(disc)) disc = 0.00;
            disc = 1 - (disc / 100);

            $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice * disc.toFixed(2));

            calculateDueTotal(event);
        });
    </script>


    <script>

        $("#OrderItem").click(function () {

            var invoices = {};
            var InvoicesDetail = [];
            var notOrderItem = false;
            invoices.TableID = $("#tblid").val();
            invoices.TotalPaidUSD = $(".grand_total_usd").text();
            invoices.TotalPaidKHR = $(".grand_total_khr").text();
            invoices.Discount = $(".discount_total_prcnt").text();

            let loop_item = $("#tbItems tbody").find("tr");
            if (loop_item.length == 0) {
                notOrderItem = true;
            }
            loop_item.each(function () {

                if ($(this).find("td.total-amount").length > 0) {
                    var InvoicesDetails = {}
                    InvoicesDetails.Qty = parseFloat($(this).closest("tr").find('td:eq(3)').text());
                    InvoicesDetails.Discount = parseFloat($(this).closest("tr").find('td:eq(6)').text()).toFixed(2);
                    InvoicesDetails.Price = parseFloat($(this).closest("tr").find('td:eq(7)').text()).toFixed(2);
                    InvoicesDetails.MenuItemId = parseFloat($(this).closest("tr").find('td:eq(0)').text());

                    InvoicesDetail.push(InvoicesDetails);
                }
            });
            invoices.InvoicesDetail = InvoicesDetail;
            //console.log(invoices);
            if (!notOrderItem) {
                $.ajax({
                    url: "/Invoices/InsertInvoice",
                    datatype: "json",
                    type: "post",
                    data: { invoices: invoices },
                    success: function (response) {

                        swal({
                            icon: 'success',
                            title: 'Good job!',
                            text: 'Invoice has been generated !',
                            timer: 3000
                        })
                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });
            }
            else {
                swal("Oops!", "Something went wrong !", "error");
            }

        });


    </script>




}

<script>
    $(document.body).on('change', '#menuItemSearchId', function () {
        //alert($("#menuItemSearchId").val());

        tableBody = $("#itembody");
        var i = 1;
        var bool = false;
        let loop_item = tableBody.find("tr");
        var val = parseInt($("#menuItemSearchId").val());
        loop_item.each(function () {
            if (parseInt($(this).find("td.menuItemId").text()) == val) {
                bool = true;

                var qty = parseFloat($(this).closest("tr").find('td.use-address').text());
                var UnitPrice = parseFloat($(this).closest("tr").find('td:eq(5)').text()).toFixed(2);
                var disc = parseFloat($(this).closest("tr").find('td:eq(6)').text()).toFixed(2);
                var munename = $(this).closest("tr").find('td:eq(2)').text();
                qty++;

                $.ajax({
                    url: "/Invoices/validateInsertQty",
                    datatype: "json",
                    type: "post",
                    data: { menuItemId: val, Qty: qty },
                    success: function (response) {

                        if (!response.value) {
                            alertify.error(munename + ' is out of stock');
                        }

                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });


                if (isNaN(disc)) disc = 0.00;
                disc = 1 - (disc / 100);

                $(this).closest("tr").find('td.use-address').html(qty);
                $(this).closest("tr").find('td:eq(7)').html(qty * UnitPrice * disc);
                calculateDueTotal(event);
                return false;
            }
        });

        if (loop_item.length > 0)
            i = loop_item.length + 1;

        if (!bool) {
            $.ajax({
                url: "/MenuItems/FindById",
                datatype: "json",
                type: "get",
                data: { id: val },
                success: function (response) {
                    if (response.stock.stockQty < response.qtytoStock) {
                        if (!response.value) {
                            alertify.error(response.menuItemNameKH + ' is out of stock');
                        }

                    }


                    var tblappend = "<tr><td hidden class='menuItemId'>" + response.menuItemId + "</td>"
                        + "<td>" + i + "</td>"
                        + "<td class='ProductName'> " + response.menuItemNameKH + "</td >"
                        + "<td contenteditable='true' class='use-address'> " + 1 + "</td >"
                        + "<td class='UoM'>" + response.stock.unitOfMeasure.nameKH + "</td >"
                        + "<td class='UnitPrice'>" + response.price + "</td>"
                        + "<td class='disc' contenteditable='true' >0.00</td>"
                        + "<td class='total-amount' > " + response.price + "</td >"
                        + "<td width='5%' style='text-align:center;vertical-align:middle'><a href='#' class='label label-danger removeRow' onclick='clickremove(this)'><i class='fa fa-trash'></i></a></td></tr> ";
                    tableBody.append(tblappend);
                    calculateDueTotal(event);

                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        }
    });
</script>
