﻿@model Invoices;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DotNetTec - Invoice html template bootstrap</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
</head>
<body>
    <div class="container">
        <div class="card">
            <div>
                <center><img src="~/assets/img/res-logo.png" alt="restaurant Logo Logo" width="100" height="100"></center>
                <h4 class="text-center">Angkor Home Restaurant</h4>
                <h6 class="text-center">#2A, Street Corner 106-118, Sangkat Beung Kork II, Khan Toul Kork, Phnom Penh</h6>
            </div> 
            <div class="card-header">
                <span class="text-left"><strong>Invoice Date:</strong> @Model.createAt.ToShortDateString()</span>
                <span class="float-right"> <strong>InvoiceCode:</strong> @Model.InvoicesId</span>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Item</th>
                                <th class="right">Unit Price ($)</th>
                                <th class="center">Qty</th>
                                <th class="right">UoM</th>
                                <th class="right">Disc (%)</th>
                                <th class="right">Total ($)</th>
                                @*<th class="right">Total (៛)</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1; }
                            @foreach (var item in Model.InvoicesDetail)
                            {
                                <tr>

                                    <td class="center">@i</td>
                                    <td>@item.MenuItem.MenuItemNameKH</td>
                                    <td class="right">@item.MenuItem.Price</td>

                                    <td class="center">@item.Qty</td>
                                    <th class="right">@item.MenuItem.Stock.UnitOfMeasure.NameKH</th>
                                    <td class="right">@item.Discount</td>
                                    <td class="right">@item.Price</td>
                                </tr>
                                i++;
                            }

                            @*@{
                                if (SalesInvList != null)
                                {
                                    int i = 1;

                                    foreach (var invprt in SalesInvList)
                                    {
                                        <td class="center">@i</td>
                                        <td>@invprt.ProductName</td>
                                        <td class="right">@invprt.UnitPrice</td>

                                        <td class="center">@invprt.Qty</td>
                                        <th class="right">@invprt.UoM</th>
                                        <td class="right">@invprt.TotalPriceUSD</td>
                                        <td class="right">@invprt.TotalPriceKHR</td>
                                        i++;
                                        totalUSD += invprt.TotalPriceUSD;
                                        totalKHR += invprt.TotalPriceKHR;
                                    }

                                }*@
                            @*else
                                {

                                    <td class="center">1</td>
                                    <td class="left strong">Origin License</td>
                                    <td class="left">Extended License</td>

                                    <td class="right">$999,00</td>
                                    <td class="center">1</td>
                                    <td class="right">$999,00</td>

                                }*@

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">

                    </div>

                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                @*<tr>
            <td class="left">
                <strong>Subtotal</strong>
            </td>
            <td class="right">$8.497,00</td>
        </tr>
        <tr>
            <td class="left">
                <strong>Discount (20%)</strong>
            </td>
            <td class="right">$1,699,40</td>
        </tr>
        <tr>
            <td class="left">
                <strong>VAT (10%)</strong>
            </td>
            <td class="right">$679,76</td>
        </tr>*@
                                <tr>
                                    <td class="left">
                                        <strong>Discount</strong>
                                    </td>
                                    <td class="right">
                                        <strong>% @Model.Discount</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="left">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="right">
                                        <strong>$ @Model.TotalPaidUSD.ToString("0.00")</strong>
                                        <br />
                                        <strong>៛ @Model.TotalPaidKHR</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Recieve Amount (USD)</strong>
                                    </td>
                                    <td class="right">
                                        <strong>$ @Model.RecievedAmountUSD.ToString("0.00")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Recieve Amount (KHR)</strong>
                                    </td>
                                    <td class="right">
                                        <strong>៛ @Model.RecievedAmountKHR</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Change</strong>
                                    </td>
                                    <td class="right">
                                        <strong>$ @Model.ChangedAmountUSD.ToString("0.00")</strong>
                                        <br />
                                        <strong>៛ @Model.ChangedAmountKHR</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <span>
                                            RATE : 1$ =
                                        </span>
                                        <span id="exchange_rate">
                                        </span>
                                        <span>
                                            ៛
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var exchangeRate = 0.00;
    $(document).ready(function () {
        $.ajax({
            url: "/SystemConfigs/GetSysConfigByKey",
            datatype: "json",
            type: "get",
            data: { key: "EXCHANGE_RATE" },
            success: function (response) {
                //    alert(JSON.stringify(response));
                exchangeRate = parseFloat(response.value);
                $("#exchange_rate").text(exchangeRate);
                
                //This execute when entire finished loaded
                window.print();
            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
    });
</script>

