﻿@model Invoices


    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    @*<span class="pull-right"><a class="btn btn-primary btn-xs" href="#" asp-action="Create" asp-controller="Account">
        Create New Product </a></span>
    *@

        <tbody>
            <tr>
                <td>1</td>
                <td>Chicken Boil</td>
                <td>5</td>
                <td>Plates</td>
                <td>1</td>
                <td>5</td>
                <td>20000</td>
            </tr>
        </tbody>
   
    @*<input type="button" class="btn-info btn-xs" id="btnExport" value="Export" onclick="Export()" />*@



<div class="modal fade" id="myModalInvioce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title" id="myModalLabel">Invoice Details</h4>

            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Ìtem</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Price</th>
                                <th>Total (USD)</th>
                                <th>Total (KHR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Chicken Boil</td>
                                <td>5</td>
                                <td>Plates</td>
                                <td>1</td>
                                <td>5</td>
                                <td>20000</td>
                            </tr>
                            @ViewBag.salesInvList
                            @*<tr>
            <td>2</td>
            <td>Salmon Sashimi</td>
            <td>8</td>
            <td>Plates</td>
            <td>1</td>
            <td>8</td>
            <td>32000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cripy Pork</td>
            <td>5</td>
            <td>Plates</td>
            <td>1</td>
            <td>5</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Beef Steak</td>
            <td>6</td>
            <td>Plates</td>
            <td>1</td>
            <td>6</td>
            <td>24000</td>
        </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*
    My Logic
*@
<script>
    function click_void(val) {
    var bool = confirm("Are you sure you want to delete ?");
        if (bool)
        {
            $.ajax({
                url: "/Invoices/VoidInv",
                datatype: "json",
                type: "post",
                data: { id: val },
                success: function (response) {
                    //alert(JSON.stringify(response));
                    $("#Id").val(response.id);
                    location.reload();

                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        }
    }


</script>