﻿
@{
    var tableList = await TableServices.TableList();
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Table Order</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in tableList)
            {
            <div class="col-md-3">
                <div class="metric">
                    @if (item.Status != "Y")
                    {
                        <a asp-action="UpdateInvoice" asp-controller="Invoices" asp-route-tblid="@item.TableID" asp-route-tblname="@item.TableNumber"  asp-route-floor="@item.FloorNumber" type="button" class="btn btn-warning left" value="@item.TableNumber">Order More</a>
                        <p>
                            <span class="title">Table No.@item.TableNumber</span>
                        </p>
                        <span class="label label-warning">Busy</span>
                    }
                    else
                    {
                        <a asp-action="InsertInvoice" asp-controller="Invoices" asp-route-tblid="@item.TableID" asp-route-tblname="@item.TableNumber"  asp-route-floor="@item.FloorNumber" type="button" class="btn btn-primary left" value="@item.TableNumber">Click to Order</a>
                        <p>
                            <span class="title">Table No.@item.TableNumber </span>
                        </p>
                        <span class="label label-success">Available</span>
                    }

                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- END OVERVIEW -->
