﻿@model MenuItem

@{
    ViewData["Title"] = "MenuItemsList";

    var cateList = await CategoryServices.CateList();
    var uomList = await UoMServices.UoMList();
    var stockList = await StocksServices.StockList();
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<style>
    .error {
        color: red;
        font-style: italic;
    }
</style>

<div class="">
    <span class="pull-right">
        <span class="pull-right"><a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#myModal"> Create New MenuItem</a></span>
    </span>
    <table id="example" class="display table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>MenuItemNameEN</th>
                <th>MenuItemNameKH</th>
                <th>Price($)</th>
                <th>qtytoStock</th>
                <th>UoM</th>
                <th>Category</th>
                <th>Stock</th>
                <th>updateBy</th>
                <th>updateAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.MenuItems != null)
            {

                @foreach (var item in ViewBag.MenuItems as List<MenuItem>)
                {
                    <tr>
                        <td>@item.MenuItemNameEN</td>
                        <td>@item.MenuItemNameKH</td>
                        <td>@item.Price</td>
                        <td>@item.qtytoStock</td>
                        <td>@item.Stock.UnitOfMeasure.NameKH</td>
                        <td>@item.Stock.Category.CateNameKH</td>
                        <td>@item.Stock.StockNameKH</td>
                        <td>@item.updateBy</td>
                        <td>@item.updateAt</td>
                        <td>

                            <a href="#" onclick="click_Update(@item.MenuItemId)" class="btn-info btn-xs" data-toggle="modal" data-target="#UpdateModal"><i class="fa fa-edit"></i> Edit</a> |
                            <a href="#" onclick="click_delete(@item.MenuItemId)" class="btn-danger btn-xs"><i class="fa fa-trash"></i> Remove </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="CreateMenuItem" asp-controller="MenuItems" method="post" id="frmModalCreate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New MenuItem</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="MenuItemNameEN" class="control-label">MenuItem Name EN</label>
                                    <input asp-for="MenuItemNameEN" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="MenuItemNameKH" class="control-label">MenuItem Name KH</label>
                                    <input asp-for="MenuItemNameKH" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"> Price ($) </label>
                                    <input type="number" asp-for="Price" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="qtytoStock" class="control-label">QtytoStock </label>
                                    <input type="number" asp-for="qtytoStock" class="form-control" />
                                </div>

                                @*<div class="form-group">
                                        <label asp-for="UnitOfMeasureId" class="control-label"> Unit Of Measure </label>

                                        <select class="form-control" asp-for="UnitOfMeasureId">
                                            @foreach (var item in uomList)
                                            {
                                                <option value="@item.UnitOfMeasureID">@item.NameKH</option>
                                            }
                                        </select>


                                    </div>*@
                                @*<div class="form-group">
                                        <label asp-for="CategoryCateID" class="control-label"> Category </label>

                                        <select class="form-control" asp-for="CategoryCateID">
                                            @if (cateList != null)
                                            {
                                                @foreach (var item in cateList)
                                                {
                                                    <option value="@item.CateID">@item.CateNameKH</option>
                                                }
                                            }
                                        </select>


                                    </div>*@

                                <div class="form-group">
                                    <label asp-for="StockId" class="control-label"> Stock </label>

                                    <select class="form-control" asp-for="StockId">
                                        @if (stockList != null)
                                        {
                                            @foreach (var item in stockList)
                                            {
                                                <option value="@item.StockId">@item.StockNameKH</option>
                                            }
                                        }
                                    </select>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>




<!--Update Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpdateMenuItem" asp-controller="MenuItems" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update MenuItem</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <input type="hidden" asp-for="MenuItemId" class="menuItemId">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="MenuItemNameEN" class="control-label">MenuItem Name EN</label>
                                    <input asp-for="MenuItemNameEN" class="form-control nameEn" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="MenuItemNameKH" class="control-label">MenuItem Name KH</label>
                                    <input asp-for="MenuItemNameKH" class="form-control nameKh" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"> Price ($) </label>
                                    <input type="number" asp-for="Price" class="form-control price" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="qtytoStock" class="control-label">QtytoStock </label>
                                    <input type="number" asp-for="qtytoStock" class="form-control qtyToStock" />
                                </div>

                                @*<div class="form-group">
                                        <label asp-for="UnitOfMeasureId" class="control-label"> Unit Of Measure </label>

                                        <select class="form-control menuUoM" asp-for="UnitOfMeasureId">
                                            @foreach (var item in uomList)
                                            {
                                                <option value="@item.UnitOfMeasureID">@item.NameKH</option>
                                            }
                                        </select>


                                    </div>*@
                                @*<div class="form-group">
                                        <label asp-for="CategoryCateID" class="control-label"> Category </label>

                                        <select class="form-control  menuCate" asp-for="CategoryCateID">
                                            @if (cateList != null)
                                            {
                                                @foreach (var item in cateList)
                                                {
                                                    <option value="@item.CateID">@item.CateNameKH</option>
                                                }
                                            }
                                        </select>


                                    </div>*@

                                <div class="form-group">
                                    <label asp-for="StockId" class="control-label"> Stock </label>

                                    <select class="form-control  menuStock" asp-for="StockId">
                                        @if (stockList != null)
                                        {
                                            @foreach (var item in stockList)
                                            {
                                                <option value="@item.StockId">@item.StockNameKH</option>
                                            }
                                        }
                                    </select>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save Change</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>

@*<script src="~/datatable/js/"></script>*@
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
        //    ,
        //    dom: 'B<"clear">lfrtip',
        //    buttons: [
        //    {
        //        extend: 'csv',
        //        title: 'Data export',
        //        exportOptions: {
        //            columns: [ 0 ]
        //        },
        //         className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-csv ttip'

        //    },
        //    {
        //        extend: 'pdfHtml5',
        //        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-pdf ttip',
        //        title: 'Data export'
        //    }
        //]
          });
        });
    @* }); *@

</script>
<script>
    function click_Update(val) {
        $.ajax({
            url: "/MenuItems/UpdateMenuItem",
            datatype: "json",
            type: "get",
            data: { id: val },
            success: function (response) {
                //console.log(response);
                 // alert(JSON.stringify(response));
                $('.menuItemId').val(response.menuItemId);
                $('.nameEn').val(response.menuItemNameEN);
                $('.nameKh').val(response.menuItemNameKH);
                $('.price').val(response.price);
                $('.qtyToStock').val(response.qtytoStock);
                // $('.menuUoM').val(response.unitOfMeasureId);
                // $('.menuCate').val(response.categoryCateID);
                $('.menuStock').val(response.stockId);

            },
            error: function (err) {
                console.log("Error get datae :" + err);
                //alert("Error");
            }
        });
    }


    function click_delete(val) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this MenuItem!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/MenuItems/DeletemenuItem",
                    datatype: "json",
                    type: "post",
                    data: { id: val },
                    success: function (response) {
                        //   alert(JSON.stringify(response));

                        if (response.data) {
                            // swal("Good job!", "User has been deleted !", "success");
                            swal({
                                icon: 'success',
                                title: 'Good job!',
                                text: 'MenuItem has been deleted !',
                                timer: 1500
                            })
                            setTimeout(function () { window.location.href = "/MenuItems/MenuItemsList"; }, 2000);

                        }
                        else {
                            swal("Oops!", "Something went wrong !", "error");
                        }


                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });

            } else {
                swal("Your MenuItem is safe!");
            }
        });

    }
</script>
<!--Validate script jquery-->
<script>
    var $registrationForm = $('#frmModalCreate');
    if ($registrationForm.length) {
        $registrationForm.validate({
            rules: {
                MenuItemNameEN: {
                    required: true
                },
                MenuItemNameKH: {
                    required: true
                },
                Price: {
                    required: true
                },
                qtytoStock: {
                    required: true
                },
            },
            messages: {

                MenuItemNameEN: {
                    required: 'Please enter MenuItemNameEN  !'
                },
                MenuItemNameKH: {
                    required: 'Please enter MenuItemNameKH !'
                },
                Price: {
                    required: 'Please enter Price !'
                },
                qtytoStock: {
                    required: 'Please enter qtytoStock !'
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.gender'));
                }
                else if (element.is(":checkbox")) {
                    error.appendTo(element.parents('.hobbies'));
                }
                else {
                    error.insertAfter(element);
                }

            }
        });
    }

</script>