﻿@model TakeAway

<style>
    .error {
        color: red;
        font-style: italic;
        font-weight: bold;
    }
</style>

<span class="pull-right">
    <span class="pull-right"><a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#tableModal">Create New TakeAways</a></span>
</span>

<!--Create Popup Modal-->
<div class="modal fade" id="tableModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">TakeAways Info</h2>
            </div>
            <form asp-action="SaveTakeAways" asp-controller="TakeAways" method="post" id="frmModalCreate">

                <div class="modal-body">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control " required />
                        <span asp-validation-for="Name" class="text-danger error"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnCreate" class="btn btn-primary save">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!--Edit Popup Modal-->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Info</h2>
            </div>
            <form asp-action="EditTakeAways" asp-controller="TakeAways" method="post">

                <div class="modal-body">
                    <input type="hidden" asp-for="Id" class="taid" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control taname" required />
                        <span asp-validation-for="Name" class="text-danger error"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save Change</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="display table table-striped table-sm" style="width:100%" id="ExampleDataTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.TakeAway as IEnumerable<TakeAway>)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a href="#" class="btn-info btn-xs" data-toggle="modal" data-target="#editModal" onclick="click_Update(@item.Id)"><i class="fa fa-edit"></i>Edit</a> |
                    <a href="#" onclick="click_Delete(@item.Id)" class="btn-danger btn-xs" @*data-toggle="modal" data-target="#deleteModal"*@><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ExampleDataTable').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
        });
    });
</script>
<script>
    function click_Update(val) {
        $.ajax({
            url: "/TakeAways/TakeAways",
            datatype: "json",
            type: "get",
            data: { id: val },
            success: function (response) {
                //console.log(response)
                $('.taid').val(response.id);
                $('.taname').val(response.name);

            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
    }
    function click_Delete(val) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/TakeAways/DeleteTakeAways",
                    datatype: "json",
                    type: "post",
                    data: { id: val },
                    success: function (response) {

                        if (response.data) {
                            swal({
                                icon: 'success',
                                title: 'Good job!',
                                text: 'Data has been deleted !',
                                timer: 1500
                            })
                            setTimeout(function () { window.location.href = "/TakeAways/TakeAway"; }, 2000);

                        }
                        else {
                            swal("Oops!", "Something went wrong !", "error");
                        }


                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });

            } else {
                swal("Your data is safe!");
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        $("#btnCreate").click(function () {
            var tableFormData = $("#tableForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Tables/SaveTable",
                data: tableFormData,
                success: function () {
                    window.location.href = "/TakeAways/TakeAway";
                }
            })
        })

    })

</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(function () {
            $('#frmModalCreate').validate();

            if ($('#frmModalCreate').valid() === false) {
                console.log("invalid");
            } else {
                console.log("valid!");
            }
        });
    </script>
}

