﻿@model Users

@{  
    Layout = null;
}
<head>
    @*<title>Login | Klorofil - Free Bootstrap Dashboard Template</title>*@
    <title>Welcome to Angkor Home</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="120x120" href="~/assets/img/res-logo.png">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    <div class="left">
                        <div class="content">

                            <div class="header">
                                <div class="logo text-center"><img src="~/assets/img/res-logo-1.png" alt="Angkor Restaurant Logo"></div>
                                <p class="lead">Login to your account</p>
                            </div>
                            @if(@ViewBag.ngounse!=null)
                            {
                            <p class="text-danger"> @ViewBag.ngounse </p>

                            }
                            <form class="form-auth-small" asp-controller="Accounts" asp-action="Login" method="post">
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label sr-only">User name</label>
                                    <input asp-for="Username" autocomplete="off" class="form-control" placeholder="User Name">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label sr-only">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>  
                                </div>
                                @*<div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div>*@


                                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                
                                @*<div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                                </div>*@
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                            <h1 class="heading">
                                Inventory Systems
                            </h1>
                            <p>by 15th Batch Western University</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>

