﻿@model Users

@{

    var rolesList = await RolesServices.RolesList();
}
<style>
    .error {
        color: red;
        font-style: italic;
    }
</style>
<div class="">
    <span class="pull-right">
        <span class="pull-right"><a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#myModal"> Create New User</a></span>
    </span>
    <table id="usertables" class="display table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>Gender</th>
                <th>Role</th>
                <th>DateTime Login</th>
                <th>DateTime Logout</th>
                @*<th>Status </th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.Users != null)
            {
                @foreach (var item in ViewBag.Users as List<Users>)
                {
                    <tr>

                        <td>@item.Username</td>
                        <td>@item.Password</td>
                        <td>@item.Gender</td>
                        <td>@item.Roles.RolesName</td>
                        <td>@item.loginAt</td>
                        <td>@item.logoutAt</td>
                        @*<td>@item.Status</td>*@

                        <td>

                            <a href="#" onclick="click_update(@item.UserID)" class="btn-info btn-xs" data-toggle="modal" data-target="#myModalUpdateUser"><i class="fa fa-edit"></i> Edit</a> |
                            <a href="#" onclick="click_delete(@item.UserID)" @*asp-controller="Accounts" asp-action="DeleteUser" asp-route-userID="@item.UserID"*@ class="btn-danger btn-xs"><i class="fa fa-trash"></i> Remove </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Add" asp-controller="Accounts" method="post" id="frmModalCreate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Creation</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label asp-for="Username" class="control-label">User Name </label>
                                    <input asp-for="Username" autocomplete="off" class="form-control usrname" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"> Password </label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"> Gender </label>
                                    <select class="form-control" asp-for="Gender">
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="RolesID" class="control-label"> Role </label>
                                    <select class="form-control" asp-for="RolesID">
                                        @foreach (var item in rolesList)
                                        {
                                            <option value="@item.RolesID">@item.RolesName</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btncreate" type="submit" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpdateUser" asp-controller="Accounts" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Edition</h5>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                            <div class="panel-body">

                                <div class="form-group">

                                    <label asp-for="Username" class="control-label">User Name </label>
                                    <input readonly asp-for="Username" class="form-control updateUsername" />


                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"> Password </label>
                                    <input asp-for="Password" type="password" class="form-control UpdatePassword" />


                                </div>

                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"> Gender </label>
                                    <select class="form-control UpdateGender" asp-for="Gender">
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="RolesID" class="control-label"> Role </label>
                                    <select class="form-control UpdateRole" asp-for="RolesID">
                                        @foreach (var item in rolesList)
                                        {
                                            <option value="@item.RolesID">@item.RolesName</option>
                                        }

                                    </select>

                                </div>
                                <input asp-for="UserID" class="userId" type="hidden" />
                                <input asp-for="loginAt" class="loginAt" type="hidden" />
                                <input asp-for="logoutAt" class="logoutAt" type="hidden" />
                                <input asp-for="Status" class="status" type="hidden" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save Change</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        $('#usertables').DataTable({
            "processing": false,
            "serverSide": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
            //,
            //dom: 'B<"clear">lfrtip',
            //buttons: [
            //    {
            //        extend: 'csv',
            //        title: 'UsersList export',
            //        exportOptions: {
            //            columns: [0]
            //        },
            //        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-csv ttip'

            //    },
            //    {
            //        extend: 'pdfHtml5',
            //        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-pdf ttip',
            //        title: 'UsersList export'
            //    }
            //]
        });
    });
</script>

<script>
    function click_update(val) {
        $.ajax({
            //url :"/controller_name/action_name"
            url: "/Accounts/FindUserById",
            datatype: "json",
            type: "get",
            data: { id: val },
            success: function (response) {
                // alert(JSON.stringify(response));
                //$(.class).val(response.must_be_same_as_value_that_alert)
                //alert(response.roles.rolesName);

                $('.userId').val(response.userID);
                $('.updateUsername').val(response.username);
                //$('.UpdatePassword').val(response.password);
                $('.UpdateRole').val(response.rolesID);
                $('.UpdateGender').val(response.gender);
                $('.loginAt').val(response.loginAt);
                $('.logoutAt').val(response.logoutAt);
                $('.status').val(response.status);
                $('.decr').val(response.description);

            },
            error: function (err) {
                console.log("Error get datae :" + err);
            }
        });
    }
    function click_delete(val) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/Accounts/DeleteUser",
                    datatype: "json",
                    type: "post",
                    data: { id: val },
                    success: function (response) {
                        // alert(JSON.stringify(response));

                        if (response.data) {
                            // swal("Good job!", "User has been deleted !", "success");
                            swal({
                                icon: 'success',
                                title: 'Good job!',
                                text: 'User has been deleted !',
                                timer: 1500
                            })
                            setTimeout(function () { window.location.href = "/Accounts/Users"; }, 2000);

                        }
                        else {
                            swal("Oops!", "Something went wrong !", "error");
                        }


                    },
                    error: function (err) {
                        console.log("Error get datae :" + err);
                    }
                });

            } else {
                swal("Your user is safe!");
            }
        });
    }
</script>

<!--Validate script jquery-->
<script>
    var $registrationForm = $('#frmModalCreate');
    if ($registrationForm.length) {
        $registrationForm.validate({
            rules: {
                Username: {
                    required: true
                },
                Password: {
                    required: true
                },
            },
            messages: {

                Username: {
                    required: 'Please enter User Name !'
                },
                Password: {
                    required: 'Please enter Password !'
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.gender'));
                }
                else if (element.is(":checkbox")) {
                    error.appendTo(element.parents('.hobbies'));
                }
                else {
                    error.insertAfter(element);
                }

            }
        });
    }

</script>

<script>
    $(document).on("keyup", ".usrname", function (e) {
        //  alert("hello");
        var val = $(".usrname").val();
        if (e.keyCode == 8) {
            $.ajax({
                url: "/Accounts/FindByUsername",
                datatype: "json",
                type: "post",
                data: { username: val },
                success: function (response) {
                    if (!response.value) {
                        $(".usrname").css("color", "red");
                        swal("Oops!", "Username already has !", "error");
                        $("#btncreate").attr("disabled", true);
                    } else {
                        $(".usrname").css("color", "");
                        $("#btncreate").attr("disabled", false);
                    }
                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        }
        else {
            $.ajax({
                url: "/Accounts/FindByUsername",
                datatype: "json",
                type: "post",
                data: { username: val },
                success: function (response) {
                    // alert(JSON.stringify(response));
                    if (!response.value) {
                        $(".usrname").css("color", "red");
                        swal("Oops!", "Username already has !", "error");
                        $("#btncreate").attr("disabled", true);
                    } else {
                        $(".usrname").css("color", "");
                        $("#btncreate").attr("disabled", false);

                    }
                },
                error: function (err) {
                    console.log("Error get datae :" + err);
                }
            });
        }
    });
</script>
